<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.ConfigSectionHandler, Autofac.Configuration" />
	</configSections>
	
	<connectionStrings>
		<add name="sqlite" providerName="System.Data.SQLite" connectionString="Data Source=C:\Users\MSI\source\repos\Programador\Programador\Schedules" />
	</connectionStrings>
</configuration>